<div fxFlexAlign="center">
  <ul>
  <li *ngFor="let rootCategory of rootCategories">
     <input
               class="form-check-input mt-1"
               type="checkbox"
               id="{{rootCategory.category_id}}"
               (click)="clickEventHandler(rootCategory,$event)">
               <label class="form-check-label">{{rootCategory.name}} ({{rootCategory.count}}) - {{rootCategory.category_id}} - {{rootCategory.parent_id}}</label>
               <ng-container *ngIf="filter" >
                 {{filter|json}}
               </ng-container>
 <!-- <app-listing [filter]="filter"></app-listing> -->
              </li>
</ul>
<!-- ========================
<ul>
  <li *ngFor="let category of categories">
     <input
               class="form-check-input mt-1"
               type="checkbox">
               <label class="form-check-label">{{category.name}} ({{category.count}}) - {{category.category_id}} - {{category.parent_id}}</label>
  </li>
</ul> -->
 <!-- <app-category-list [categories]="parentCategories"></app-category-list> -->
<!-- Define the recursive template. -->
<ng-template #nodeTemplateRef let-node="node">

	<div class="node">
-
	 <label class="node__label">
		    <input type="checkbox" [ngModel]="node.check" id="{{node.id}}" (ngModelChange)="selectNode(node,$event)"/>	{{ node.label }}
		</label>
		<div *ngIf="node.children.length && !isShowDivIf" class="node__children" id="{{node.id}}" >

			<ng-template ngFor let-child [ngForOf]="node.children">

				<!-- Invoke the recursive template. -->
				<ng-template
					[ngTemplateOutlet]="nodeTemplateRef"
					[ngTemplateOutletContext]="{ node: child }">
					<!--
						Because we are using nested ngTemplates (rather than the template
						input of the ngFor directive), we have more control over how the
						data is made available to the recursive template. In this case,
						we're passing "child" through as "node".
					-->
				</ng-template>

			</ng-template>

		</div>

	</div>

</ng-template>

<!-- Initiate the recursive template rendering. -->
<!-- <ng-template
	[ngTemplateOutlet]="nodeTemplateRef"
	[ngTemplateOutletContext]="{ node: data.root }">
</ng-template> -->
</div>
