<li class="list-unstyled">
  <span *ngIf="pNodes.length > 1">
    <div>
      <label class="form-control">
        <input
          (change)="selectNode($event, selectedNode.id, 'all')"
          type="checkbox"
        />
        All</label
      >
    </div>
  </span>
</li>
<li *ngIf="pNodes.length > 0">
  <ul>
    <li *ngFor="let rootNode of pNodes ? pNodes : []">
      <label class="form-control">
        <input
          type="checkbox"
          id="{{ rootNode.id }}"
          name="checkbox"
          (change)="selectNode($event, rootNode.id)"
          [checked]="rootNode?.selected"
          [id]="rootNode.id"
        />
        {{ rootNode.label }} ({{ rootNode.count }})
      </label>
      <span  (click)="rootNode.show = !rootNode?.show" *ngIf="!rootNode?.show"
        ><i class="arrow right"></i
      ></span>
      <span (click)="rootNode.show = !rootNode?.show" *ngIf="rootNode?.show"
        ><i class="arrow down"></i
      ></span>

      <ng-container *ngIf="nodes">
        <app-tree-view
          [nodes]="nodes"
          [selectedNode]="rootNode"
        ></app-tree-view>
      </ng-container>
    </li>
  </ul>
</li>
