<li *ngIf="pNodes.length > 1">
  <ul>
    <div class="all">
      <label class="form-control">
        <input
        #treeViewCheckboxAll
        class="selectedNode.id"
        id=0
          (change)="selectNode($event, selectedNode.id, 'all')"
          type="checkbox"
        />
        All</label
      >
    </div>
    <li *ngFor="let node of pNodes ? pNodes : []">
      <label class="form-control">
        <input
          type="checkbox"
          id="{{ node.id }}"
          #treeViewCheckbox
          name="checkbox"
          (change)="selectNode($event, node.id)"
          [checked]="node?.selected"
          [id]="node.id"
        />
        {{ node.label }} ({{ node.count }})
      </label>
      <ng-container>
        <span (click)="node.show = !node?.show" *ngIf="!node?.show"
          ><i class="arrow right"></i
        ></span>
        <span (click)="node.show = !node?.show" *ngIf="node?.show"
          ><i class="arrow down"></i></span
      ></ng-container>
      <ng-container *ngIf="nodes">
        <app-tree-view
          [nodes]="nodes"
          [selectedNode]="node"
          [toggle]="node?.show"

        ></app-tree-view>
      </ng-container>
    </li>
  </ul>
</li>

